<?xml version="1.0"?>
<launch>
 <!-- Start RViz with a specific configuration file -->
 <node name="rviz" pkg="rviz" type="rviz" args="-d $(find task_2_pointnet_ros)/rviz/pointnet_visualization.rviz" output="screen"/>
 
  <!-- Play a bag file using rosbag play -l command -->
 <node name="bag_play" pkg="rosbag" type="play" args="-l /home/tahsin/catkin_ws/src/task_2_pointnet_ros/kitti_2011_09_26_drive_0005_synced.bag" output="screen"/>
</launch>
