<?xml version="1.0"?>
<launch>
    <arg name="model" default="$(find volta_description)/urdf/volta.xacro"/>
    
    <arg name="viz_config" default="$(find volta_description)/rviz_params/urdf.rviz"/>
    
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>  
     
  <group ns="robot1">
    <param name="tf_prefix" value="robot1_tf" />
    <include file="$(find volta_description)/launch/single_bot.launch" >
      <arg name="index"  value="1" />
      <arg name="init_pose" value="-x 0 -y 0 -z 0" />
      <arg name="robot_name"  value="Robot1" />    
      
    </include>
  </group>

  <group ns="robot2">
    <param name="tf_prefix" value="robot2_tf" />
    <include file="$(find volta_description)/launch/single_bot.launch" >
      <arg name="index"  value="2" />
      <arg name="init_pose" value="-x 1 -y 0 -z 0" />
      <arg name="robot_name"  value="Robot2" />
    </include>
  </group>

  <group ns="robot3">
    <param name="tf_prefix" value="robot3_tf" />
    <include file="$(find volta_description)/launch/single_bot.launch" >
      <arg name="index"  value="3" />
      <arg name="init_pose" value="-x 0 -y 1 -z 0" />
      <arg name="robot_name"  value="Robot3" />
    </include>
  </group>

  <group ns="robot4">
    <param name="tf_prefix" value="robot4_tf" />
    <include file="$(find volta_description)/launch/single_bot.launch" >
      <arg name="index"  value="4" />
      <arg name="init_pose" value="-x -1 -y 0 -z 0" />
      <arg name="robot_name"  value="Robot4" />
    </include>
  </group>

  <group ns="robot5">
    <param name="tf_prefix" value="robot5_tf" />
    <include file="$(find volta_description)/launch/single_bot.launch" >
      <arg name="index"  value="5" />
      <arg name="init_pose" value="-x 0 -y -1 -z 0" />
      <arg name="robot_name"  value="Robot5" />
    </include>
  </group>  

    <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(arg viz_config)" respawn="true" /-->
</launch>

